
body{
    background-image:url("fundocontador.jpg");
}

p {
  margin: 0;
  text-indent: 3ch;
  color: lightseagreen;
}

p.caldeirao {
   text-indent: 0;
   display: inline;
}
p.caldeirao + p.caldeirao::before {
  content: " ¶ ";
}

h1 {
    border: 2px #2c439f solid;
    color: #2d7abd;
    text-align: center;
    padding: 10px;
}

h4 {
    color: blue;
    text-align: center;
    padding: 8px;
}



h10 {
    border: 1px #2c439f solid;
    color: blue;
    text-align: center;
    padding: 10px;
}

